body
{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
  
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}